@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@300&family=Roboto:ital,wght@1,100&family=Yanone+Kaffeesatz&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
}

header {
    background-color: gainsboro;
}

.header-title {
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;

}

nav li {
    list-style-type: none;
    font-size: 1rem;
    font-weight: bold;
    margin: 25px 35px;
}

nav li a {
    text-decoration: none;
    padding: 10px;
    color: crimson;
}

nav li a:hover {
    background-color: cyan;
}

.logo {
    display: flex;
    padding: 30px;
}

.logo h2 {
    padding: 7px;
}

.logo span {
    color: #000;
}

.banner {
    display: flex;
    height: 80vh;
    background-color: azure;

}

.banner_content {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    padding: 50px;
}

.banner_content h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 50px;
}

.banner_content h2 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.banner_content p {
    font-size: 1rem;
}

.btn-1,
.btn-2,
.btn-3 {
    background-color: crimson;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
}

.btn-3:hover {
    background-color: skyblue;
}

.banner_img {
    width: 50%;
    height: 80vh;
}

.banner_img img {
    width: 70%;
}

/* gamer section start*/
.gamer {
    display: flex;
    background-color: cornsilk;
}

.gamer_img {
    width: 50%;
}

.gamer_text {
    width: 50%;
}

.gamer_img img {
    width: 100%;
}

.gamer_text {
    margin: auto;
    width: 40%;
}

.gamer_text {
    padding: 10px 5px;
}

.funny_video {
    width: 100%;
    height: auto;
}

.funny_video h1,
p {
    text-align: center;
    margin-top: 20px;
}

.card_container {
    display: flex;
    margin-top: 20px;
    height: 60vh;
}

.card_container p {}

.card {
    width: 20%;
    margin: 0 auto;

}

.card img {
    width: 100%;
}

.card img:hover {
    border: 5px solid crimson;
}

.card p {
    text-align: center;
}

.online-game {
    display: flex;
    background-color: cornsilk;
    height: 60vh;
}

.left_section {
    width: 50%;
    margin: auto;
}

.right_section {
    width: 50%;

    margin: auto;
}

/*
.right_section h2,
p {
    width: 400px;
} */

.left_section img {
    width: 50%;
    margin-left: 50px;
}

.footer {
    background-color: #000;
    color: #fff;
    height: 50vh;
}

.footer_heading {
    display: flex;
    margin: 0px 530px;
    padding: 10px;
}

.footer_heading img {
    margin: 0 auto;
}

.footer_title {}

.footer_nav {
    text-align: center;
    margin-top: 20px;
}

.footer_nav a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

.social-menus {
    text-align: center !important;
}

.social-menus i {
    padding: 20px;
    margin-top: 20px;
}

/*small device*/
@media screen and(max-width: 576px) {
    nav {
        display: grid;
        text-align: center;
    }

    .banner {
        display: grid;
        height: 100vh;
    }

    .banner_content {
        max-width: 100%
    }

    .banner_img {
        width: 100%;
    }

    .banner_img img {
        width: 100%;
    }

    .gamer {
        display: grid;
    }

    @media screen and (min-width:576px) and (max-width:960px) {}
}